@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Paytone+One&family=Sofia+Sans&display=swap');


/* 
font family: "Kanit";
font family: "Paytone One";
font family: "Sofia Sans"; 
*/


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
img {
  width:100%;
}

/* Top Green Bar */
.top-bar {
  background-color: #A59C7F;
  padding: 10px;
  text-align: left;
  height:177px;
}

.logo img {
  width:308px;

}


/* Navigation Links */
.navigation {
  width:335px;
  position: absolute;
  top: 230px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 24px;
  font-family: "Kanit";
}

.navigation a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.divider {
  border-bottom: 1px solid black;
  width:100%;
  
}

/* First Section with Light Blue Background */
.first-section {
  background-color: rgba(142, 177, 208, .5);
  padding: 30px;
  margin-top:10px;
  font-family: "Sofia Sans";
}

.content-box {
  width: 60%;
  padding: 10px;
}

/* Second Section with Two Columns */
.second-section {
  display: flex;
  padding: 20px;
  font-family: "Sofia Sans";
}

.left-column {
  width: 35%;
  font-family: "Sofia Sans";
}
.about-page .left-column {
 margin: 50px ;
 width: 60%;
 font-size: 25px;
}

.services-page .left-column {
  margin: 50px ;
  width: 60%;
  font-size: 25px;
 }

.ourteam-page .left-column {
  margin: 50px ;
  width: 60%;
  font-size: 25px;
 }

.right-column {
  width: 65%;
  padding-left: 20px;
  margin: 40px;
  background-color: rgba(142, 177, 208, .5);
  font-size: 20px;
  text-align: left;
}
.center {
  text-align:center;
}

/* Large Image */
.large-image img {
  width: 100%;
  height: 447px;
  object-fit: cover;
}


main {
  display:flex;
  flex-direction:column;
}
.divisions-page h1 {
  margin-left:60px;
  font-family: "Paytone One";
}

.about-page h1 {
  text-align: center;
  font-family: "Paytone One";
}

.about-page h2 {
  text-align: center;
  font-family: "Paytone One";
}

.services-page h1 {
  text-align: center;
  font-family: "Paytone One";
  font-size: 50px;
}

.services-page h2 {
  text-align: center;
  font-family: "Kanit";
  padding: 50px;
  font-size: 30px;
}

.ourteam-page h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Paytone One";
  
}
.ourteam-page h2 {
  text-align: left;
  padding-left: 560px;
  font-size: 35px;
  font-family: "Paytone One";
}

.gallery {
  display:flex;
  flex-wrap:wrap;
  width: 90%;
  margin:auto;
  font-family: "Kanit";
  font-size: 30px;
}
.gallery div {
  flex:33%;
  padding-right:120px;
  padding-bottom:100px;
  text-align:center;
}

.contact {
  display:flex;
  flex-wrap:wrap;
  width: 90%;
  margin: 100px;
}


.contact div {
  flex:33%;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align:center;
}

/* Footer with Three Columns */
footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-column {
  width: 30%;
}

.footer-column p {
  margin: 0;
}

.address {
  padding: 20px;
  text-align: left;
}

.right-column2 {
  margin-left: 70%;
  padding-top: 500px;
  background-color: rgba(142, 177, 208, .5);
  font-size: 20px;
  text-align: left;
  height: 500px;
  width: 500px;
}

.p1{
  font-size: 20px;
  padding-top: 50px;
}
.p2 {
  text-align: left;
}

.mainhead{
  padding-top: 0px;
  font-family: "Paytone One";
  font-size: 35px;
  text-align: center;
  padding-left: 250px;
}

.p1 {
  font-size: 25px;
}
.show-mobile {
  display:none;
}
.hide-mobile {
    display:flex;
}


.ourteam-page .card {
  font-family: "Sofia Sans";
  font-size: 25px;
}


.li {
  list-style-type: circle;
  padding-left: 50px;
}




@media screen and (max-width:768px) {
  .divider {
    display:none;
  }
  .navigation {
    padding:30px 0;
    text-align:center;
    position:static;
    flex-direction:row;
    width: 100%;
    display:block;
    /* top: 100px;
    left: 20px; */
  }
  .show-mobile {
    display:block;
  }
  .hide-mobile {
    display:none;
  }
  .content-box {
    width:100%;
  }
  main {
    flex-direction:column-reverse;
  }
  .first-section {
    margin-top:40px;
  }
  .outstream .left-column {
    width:80%;
  }

  .mainhead {
    padding: 0;
  }

  .divisions-page h1 {
    text-align: center;
    width: 77%;

  }

  .gallery {
    width: 100%;
    flex-direction: column;
    margin: 25px;
    padding-left: 18%;
  }

  .ourteam-page h1 {
    padding-left: 18%;
    width: 100%;

  }


  .ourteam-page .left-column {
    padding-left: 20%;
    width: 100%;
  }

}